.time-badge {
    position: absolute;
    width: 32px;
    height: 20px;
    background-color: #242832;
    color: #cbd4dc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    z-index: 6;
    top: 0;
    right: 0;
    border-bottom: 1px solid #30394c;
    border-left: 1px solid #30394c;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 4px;
    font-weight: 300;
}